@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Make the body fully transparent */

body {
    /* Fully transparent background */
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    /* -webkit-app-region: drag; */
    border: 1px solid orange;
    overflow: hidden;
}

body{
  color: red;
}

/* Opaque content */

/* Transparent area where clicks should go through */

/* Draggable area */

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
